<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ellecity06.quickandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ApiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.OtherActivity"></activity>
        <activity android:name=".demo.AActivity"></activity>
    </application>

</manifest>